@using DCMDigitalSignagev2.Shared
@using Microsoft.Extensions.Logging
@using System.Text.Json

<div class="card">
    <div class="card-body">

        <EditForm Model="@oCotizacione" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="row">
                <div class="col-sm-6">
                    <label>Título</label>
                    <InputText class="form-control" @bind-Value="@oCotizacione.Titulo" placeholder="Título"></InputText>
                    <ValidationMessage For="(()=> oCotizacione.Titulo)" style="color:red;" />
                </div>
                <div class="col-sm-6">
                    <label>Cliente</label>

                    <RadzenDropDown AllowClear="true" TValue="string" Class="w-100"
                                    Data=@(oRtaCliente.List) TextProperty="RazonSocial" ValueProperty="RazonSocial" @bind-Value="oCotizacione.Cliente" />
                    <ValidationMessage For="(()=> oCotizacione.Cliente)" style="color:red;" />
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-sm-6">
                    <label>N° cotización</label>
                    <InputText class="form-control" @bind-Value="@oCotizacione.Codigo" placeholder="N° cotización"></InputText>
                    <ValidationMessage For="(()=> oCotizacione.Codigo)" style="color:red;" />
                </div>

                <div class="col-sm-6">
                    <label>Cantidad</label>
                    <InputText class="form-control" @bind-Value="@oCotizacione.Cantidad" placeholder="Cantidad"></InputText>
                    <ValidationMessage For="(()=> oCotizacione.Cantidad)" style="color:red;" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <label>Precio (pesos)</label>
                    <InputText class="form-control" @bind-Value="@oCotizacione.Valorpeso" placeholder="Precio"></InputText>
                    <ValidationMessage For="(()=> oCotizacione.Valorpeso)" style="color:red;" />
                </div>
                <div class="col-sm-6">
                    <label>Descripción</label>
                    <InputText class="form-control" @bind-Value="@oCotizacione.Descripcion" placeholder="Descripción"></InputText>
                    <ValidationMessage For="(()=> oCotizacione.Descripcion)" style="color:red;" />
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <label>Observaciones</label>
                    <InputTextArea class="form-control" @bind-Value="@oCotizacione.Observaciones" placeholder="Observaciones"></InputTextArea>
                    <ValidationMessage For="(()=> oCotizacione.Observaciones)" style="color:red;" />
                </div>
                <div class="col-sm-6">
                    <label>Fecha de entrega</label>
                    <br />
                    <RadzenDatePicker TValue="DateTime?" @bind-Value="@oCotizacione.Fechaentrega" Min="DateTime.Today" ShowTime="false" ShowSeconds="false" DateFormat="dd/MM/yyyy" Class="w-50" />

                </div>

            </div>
            <br />
            <div class="row">

                <div class="col-sm-6">
                    <label>Agregar planos (max 10)</label>

                    <br />
                    <InputFile OnChange="@OnInputFileChange" multiple />
                </div>

            </div>
            <br />
            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>




@code {
    Cotizacione oCotizacione = new();
    Respuesta<Cotizacione> oRta = new();
    Respuesta<List<Cliente>> oRtaCliente = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int id { get; set; }
    List<string> planos = new();
    //upload files
    private List<File> files = new();
    private List<UploadResult> uploadResults = new();
    private int maxAllowedFiles = 10;
    private bool shouldRender;
    MultipartFormDataContent content = new MultipartFormDataContent();

    protected override async Task OnInitializedAsync()
    {
        oRtaCliente = await http.GetFromJsonAsync<Respuesta<List<Cliente>>>($"/api/Cliente");

        if (id != 0)
        {
            oRta = await http.GetFromJsonAsync<Respuesta<Cotizacione>>($"/api/Cotizacione/{id}");
            oCotizacione = oRta.List;
        }
    }

    async Task Guardar()
    {
        var client = ClientFactory.CreateClient();
        var response =
            await client.PostAsync($"{nav.BaseUri}filesave",
            content);

        if (response.IsSuccessStatusCode)
        {
            var options = new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                };

            using var responseStream =
                await response.Content.ReadAsStreamAsync();

            var newUploadResults = await JsonSerializer
                .DeserializeAsync<IList<UploadResult>>(responseStream, options);

            if (newUploadResults is not null)
            {
                uploadResults = uploadResults.Concat(newUploadResults).ToList();
            }
        }
        if (id == 0)
        {
            oCotizacione.Planos = JsonSerializer.Serialize<List<string>>(planos);
            oCotizacione.Estado = "Cargado";
            await http.PostAsJsonAsync<Cotizacione>("/api/Cotizacion", oCotizacione);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            await http.PutAsJsonAsync<Cotizacione>("/api/Cotizacion", oCotizacione);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        shouldRender = false;
        long maxFileSize = 1024 * 1500000;

        var upload = false;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            planos.Add(file.Name);
            if (uploadResults.SingleOrDefault(
                f => f.FileName == file.Name) is null)
            {
                try
                {

                    var fileContent =
                        new StreamContent(file.OpenReadStream(maxFileSize));



                    files.Add(new() { Name = file.Name });

                    content.Add(
                        content: fileContent,
                        name: "\"files\"",
                        fileName: file.Name);
                    upload = true;
                }
                catch (Exception ex)
                {

                    Console.WriteLine(ex.Message);

                    uploadResults.Add(
                        new()
                            {
                                FileName = file.Name,
                                ErrorCode = 6,
                                Uploaded = false
                            });
                }
            }
        }


        shouldRender = true;
    }

    private class File
    {
        public string? Name { get; set; }
    }
}